# Dart / Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
coverage/
*.iml
.idea/
.vscode/

# Flutter ephemeral
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Android
android/local.properties
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/**/captures/
*.apk
*.aab
*.keystore
key.properties

# Secrets
.env
.env.*
